.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  align-items: center;
  margin-top: 15vh;
}
.form input{
    height: 40px;
    width: 40vw;
    font-size: 1.4em;
    padding: 8px 1vw;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
}
.form select {
    height: 60px;
    width: 42vw;
  font-size: 1.4em;
  padding: 8px 1vw;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}
.form select *{
    width: 42vw
    
}
.bottomBtns {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  margin: 2vh 5vw;
}
