.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 100vh;
  align-items: center;
  margin-top: 14%;
  margin-left: 18%;
  background-color: #F4E5CF;
}
.form input{
  font-family: Poppins-Regular;
  color: #486966;
    height: 45px;
    width: 739.52px;
    font-size: 1.4em;
    padding: 8px 1vw;   
}
.form select {
  font-family: Poppins-Regular;
    height: 45px;
    width: 780px;
  font-size: 1.4em;
  padding: 8px 1vw;
  border: 1px solid rgb(255, 255, 255);
  color: #486966;
  border-radius: 0px;
  background-color: white;
}
.form select *{
    width: 5vw
    
}
.bottomBtns {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  margin: 3vh 5vw;
}

