.container{
    color: #EDE5DD;
    height: auto;
    text-align: center;
    width: 50%;
    position: fixed;
    font-size: smaller;
    //need to set when importing Fonts (Poppins Bold & Poppins Regular & Poppins light)
    //font-family: ;
    

    left: 70%;
    transform: translateX(-40vw);
    background: #ED8476;
    text-decoration-style: dashed;
    outline: 1.5px dashed #EB6856;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    p{
        font-size: 20px;
    }
}
.hidden{
    /* display: none; */
    bottom: -20vh;
    transition-duration: 5s;
    transition-property: bottom;
} 
.transformed {
    bottom: 5vh;
    transition-duration: 1s;
    transition-property: bottom;
}
