.container{
    color: #EDE5DD;
    height: auto;
    text-align: center;
    width: 80%;
    position: fixed;
    font-size: smaller;
    width: 50%;

    //need to set when importing Fonts (Poppins Bold & Poppins Regular & Poppins light)
    //font-family: ;
    

    left: 70%;
    transform: translateX(-45vw);
    background: #ED8476;
    text-decoration-style: dashed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    p{
        font-size: 20px;
    }
    &__error{
        color: white;
        background: #EB6856;
        outline: 2px double rgb(255, 7, 7);
    }
    &__success{
        color: rgb(121, 236, 27);
        background: rgb(204, 241, 187);
        outline: 1.5px double rgb(127, 255, 7);
    }


}
.hidden{
    /* display: none; */
    bottom: -30vh;
    transition-duration: 5s;
    transition-duration: 5s;
    transition-property: bottom;
}
.transformed {
    bottom: 5vh;
    transition-duration: 2s;
    transition-duration: 1s;
    transition-property: bottom;
}
