/* Poppins  Extra bold for user form, Poppins semibold for map page, 
Poppins light for consent page*/
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-ExtraBold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../public/fonts/Poppins-SemiBold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../public/fonts/Poppins-Light.ttf");
  font-style: normal;
}

.font {
  font-family: Poppins;
  color: #486966;
}

.hidden {
  display: none;
}
.button {
  height: 60px;
  width: 10vw;
  font-size: 1.2em;
  border-radius: 25px;
  border: 0px;
  &_primary {
    background:  #486966;
     color:white;
     font-family: Poppins-SemiBold;
  }
  &_secondary {
    background: #9A6E53;;
    color: white;
    font-family: Poppins-SemiBold;
  }
  &hover {
    cursor: pointer;
  }
}
