html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-ExtraBold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../public/fonts/Poppins-SemiBold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../public/fonts/Poppins-Light.ttf");
  font-style: normal;
}
