@import './Global.module.scss';

.parent{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1;
    background: transparent;
    pointer-events:none

}
.main {
  margin: 0px;
  padding: 0px;
}
.right {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  display: grid;
}
.right{
    position: fixed;
    top: 1vw;
    right: 1vw;
    display: grid;
    pointer-events: initial;
    z-index: 1;
}
.map{
    position:fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0
}
.addPerson{
  width: 20vw;
    display: flex;
    bottom: 20px;
    position: fixed;
    left: 20px;
    justify-content: center;
    z-index: 1;
    align-items: center;
    border-radius: 50px;
    border: 0px;
    background-color: #58827F;
    padding: 5px;
    &:hover{
      cursor: pointer;
      background-color: #3f5e5c;
    }
  span{
    @include fontSize(black,$sm);
   
  }
  p{
    @include fontSize(black,$sm);
   
  }
}
