.parent{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    .child{
        width: 100%;
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
}
.inherit{
    width: 100%;
    height: inherit;
}