$marker-color: red;

.marker {
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 50% 50% 50% 0;
    border: 4px solid  $marker-color;
    background-color: $marker-color;
    width: 120px;
    height: 120px;
    margin-top: -155px;
    margin-left: -63px;
    transform: rotate(-45deg);
    &__img{
        transform: rotate(45deg);
        border-radius: 50%;
    }
  }