.picture{
    &__icon{
        // TODO this is to be deleted
        color: blue;
    }
}
.social_icons{
    
    width: 100%;
    justify-content: space-around;
    display: flex;

    button{
        background-color: transparent;
        border: 0px;
        svg{
            height: 40px;
            width: 40px;
        }
    }
}