// Meet the team styling
.parent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0; 
   top: 0; 
  /* background-color: white; */
  backdrop-filter: blur(10px);
 

  .child {
    height: 90%;
    width: 90%;
    padding: 2%;
    background: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}


.filter {
  &_button {
    border-radius: 10px;
    box-shadow: 2px 2px 2px #EBAE56;
    background-color: #EDE5DD;
    font-size: 18px;
    font-weight: bolder;
    height: 40px;
    display: flex;
    border: none;
    width: 6vw;
    align-items: center;
    justify-content: left;
    &_long{
        translate: 91.5%;
        width:54%;
    }
    // .mat_icon{

    // }
  }
  &_container {
    box-shadow: 2px 2px 2px #EBAE56;
    width: 50%;
    border-radius: 10px;
    background-color: #EDE5DD;
    overflow: hidden;
    margin-top: 0.5%;
    select {
      height: 30px;
      width: 100%;
      option {
        height: 40px;
        width: 29vw;
      }
    }
    option {
      height: 40px;
      width: 29vw;
    }
  }
}

.clear{
  margin-top: 4%;
  border-radius: 5px;
  border:none;
  box-shadow: 2px 2px 2px #C58A67;
  background: #EDE5DD;
  color: rgb(4, 4, 4);
  font-weight:lighter;
  background: rgb(235, 174, 86, 50%);
}


.inherit{
    width: 100%;
    height: inherit;
}
.closeheight {
  height: 0;
  padding: 0px;
  width: 0;
  transition-duration: 3s;
  transition-property: height;
  translate: 90%;

}
.openheight {
  height: auto;
  padding: 15px;
  transition-duration: 3s;
  translate: 90%;
  transition-property: height;
}

.moveleft {
  left: 0;
  transition-duration: 1s;
  transition-property: left;
}
.moveright {
  left: 100vw;
  transition-duration: 1s;
  transition-property: left;
}
.index{
    position:fixed;
    z-index: 4;
    &_topRight{
        right: 80px;
        top: 10px;
    }
    &_bottomRight{
      right: 80px;
      bottom: 2.2%;
      position: fixed;
        &_more{
            right: 160px;
        }
        button{
          background-color: rgb(218, 218, 218);
    font-size: 18px;
    height: 50px;
    
    aspect-ratio: 1/1;
    outline: none;
    border: 0px;
    display: flex;
    align-items: center;
    justify-self: center;
    span{
      color: rgb(88, 88, 88);
      font-size: 35px;
    }
    &:hover{
      cursor: pointer;
    }
        }

    }
}
