.container{
     position: fixed;
     z-index: 1;
     height: 100vh;
     background-color: #c7deed;
     &_bottom{
        padding: 2vw;
     }
}
.open {
  width: 30vw;
  transition-duration: 1s;
  transition-property: width;
}
.close {
  width: 5vw;
  transition-duration: 1s;
  transition-property: width;
}
.image_container {
  height: 30vh;
  width: 100%;
  background-color: rgb(200, 178, 149);
  transition-duration: 1.5s;
  transition-property: display;
}
.profilePic{
  border-radius: 60%;
  width: 70%;
  height: 100%;
  object-fit:fill;
  margin-left: 14%;
}
.closeOpenBtn {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

