.container{
     position: fixed;
     z-index: 1;
     height: 100vh;
     
     &_bottom{
        padding: 2vw;
     }
}
.open {
  width: 30vw;
  transition-duration: 1s;
  transition-property: width;
  background-color: #c7deed;
}
.close {
  width: 5vw;
  background: none;
  // backdrop-filter: blur(10px);
  transition-duration: 1s;
  transition-property: width;
}
.image_container {
  display: flex;
  align-items: center;
  height: 40vh;
  width: 30vw;
  background-image: linear-gradient(rgb(200, 178, 149) 60%, #c7deed);
  background-color: rgb(200, 178, 149);
  transition-duration: 1.5s;
  transition-property: width;
}
.profilePic{
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  object-fit:fill;
  margin-left: 14%;
}
.closeOpenBtn {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.button{
  content: "\0e5e1";
  background-color: transparent;
  border: none;
  &:hover{
    cursor: pointer;
    color: green;
  }
}