.container {
  position: fixed;
  z-index: 1;
  height: 100vh;
  &_bottom {
    padding: 3vw;
    &_no_data{
      height: 100%;
    padding: 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }
}
.open {
  margin-left:0;
  transition-duration: 1s;
  transition-property: width;
  background-color: #1f8cd4;
}
.close {
  margin-left:-25vw;
  // backdrop-filter: blur(10px);
  transition-duration: 1s;
  transition-property: width;
}
.image_container {
  display: flex;
  align-items: center;
  height: 40vh;
  width: 100%;
  transition-duration: 1.5s;
  transition-property: width;
}
.profilePic {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  object-fit: fill;
  margin-left: 14%;
}
.closeOpenBtn {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.button {
  content: "\0e5e1";
  background-color: transparent;
  border: 30px;
  &:hover {
    cursor: pointer;
    color: #ffffff;
  } }

/* Styling for varied props */
.name {
  font-family: Poppins-Semibold;
  color: #ffffff;
  font-size: 55px;
  text-align: center;
}

.major {
  font-family: Poppins-Semibold;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}
.location {
  font-family: Poppins-Semibold;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}
/* Styling for fixed props */


.majorf {
  margin: auto;
  width: 100%;
  height: 47px;
  background-color: #fffcfc;
  font-family: Poppins-Semibold;
  color: #486966;
  font-size: 35px;
  text-align: center;
}
.locationf {
  margin: auto;
  width: 100%;
  height: 47px;
  background-color: #fffcfc;
  font-family: Poppins-Semibold;
  color: #486966;
  font-size: 35px;
  text-align: center;
}
